In [1]:
import numpy as np
import pandas as pd

In [2]:
anime=pd.read_csv("anime.csv")
anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [3]:
rating=pd.read_csv("rating.csv")

rating.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [4]:
anime.isna().sum()

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

In [5]:
anime=anime.drop('rating', axis=1)

In [6]:
anime.isna().sum()

anime_id     0
name         0
genre       62
type        25
episodes     0
members      0
dtype: int64

In [7]:
anime.dropna(inplace=True)

In [8]:
anime.isna().sum()

anime_id    0
name        0
genre       0
type        0
episodes    0
members     0
dtype: int64

In [9]:
anime.shape

(12210, 6)

In [10]:
anime.duplicated().sum()

0

In [11]:
anime.iloc[1:12].genre

1     Action, Adventure, Drama, Fantasy, Magic, Mili...
2     Action, Comedy, Historical, Parody, Samurai, S...
3                                      Sci-Fi, Thriller
4     Action, Comedy, Historical, Parody, Samurai, S...
5                Comedy, Drama, School, Shounen, Sports
6               Action, Adventure, Shounen, Super Power
7                        Drama, Military, Sci-Fi, Space
8     Action, Comedy, Historical, Parody, Samurai, S...
9     Action, Comedy, Historical, Parody, Samurai, S...
10    Drama, Fantasy, Romance, Slice of Life, Supern...
11                               Drama, School, Shounen
Name: genre, dtype: object

In [12]:
anime['genre'].apply(lambda x:[i.replace(" ","")for i in x])

0        [D, r, a, m, a, ,, , R, o, m, a, n, c, e, ,, ,...
1        [A, c, t, i, o, n, ,, , A, d, v, e, n, t, u, r...
2        [A, c, t, i, o, n, ,, , C, o, m, e, d, y, ,, ,...
3          [S, c, i, -, F, i, ,, , T, h, r, i, l, l, e, r]
4        [A, c, t, i, o, n, ,, , C, o, m, e, d, y, ,, ,...
                               ...
12289                                   [H, e, n, t, a, i]
12290                                   [H, e, n, t, a, i]
12291                                   [H, e, n, t, a, i]
12292                                   [H, e, n, t, a, i]
12293                                   [H, e, n, t, a, i]
Name: genre, Length: 12210, dtype: object

In [13]:
type(anime['genre'])

pandas.core.series.Series

In [14]:
anime=anime.drop(anime[['type','episodes','members']],axis=1)

In [15]:
anime

,anime_id,name,genre
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural"
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili..."
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S..."
3,9253,Steins;Gate,"Sci-Fi, Thriller"
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S..."
...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai
12290,5543,Under World,Hentai
12291,5621,Violence Gekiga David no Hoshi,Hentai
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai

In [16]:
 anime['genre']= anime['genre'].str.replace(',', '')

In [17]:
anime

,anime_id,name,genre
0,32281,Kimi no Na wa.,Drama Romance School Supernatural
1,5114,Fullmetal Alchemist: Brotherhood,Action Adventure Drama Fantasy Magic Military ...
2,28977,Gintama°,Action Comedy Historical Parody Samurai Sci-Fi...
3,9253,Steins;Gate,Sci-Fi Thriller
4,9969,Gintama&#039;,Action Comedy Historical Parody Samurai Sci-Fi...
...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai
12290,5543,Under World,Hentai
12291,5621,Violence Gekiga David no Hoshi,Hentai
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai

In [18]:
anime['genre']=anime['genre'].apply(lambda x: x.lower())

In [19]:
anime

,anime_id,name,genre
0,32281,Kimi no Na wa.,drama romance school supernatural
1,5114,Fullmetal Alchemist: Brotherhood,action adventure drama fantasy magic military ...
2,28977,Gintama°,action comedy historical parody samurai sci-fi...
3,9253,Steins;Gate,sci-fi thriller
4,9969,Gintama&#039;,action comedy historical parody samurai sci-fi...
...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,hentai
12290,5543,Under World,hentai
12291,5621,Violence Gekiga David no Hoshi,hentai
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,hentai
12293,26081,Yasuji no Pornorama: Yacchimae!!,hentai

In [20]:
anime.iloc[2].genre

'action comedy historical parody samurai sci-fi shounen'

In [21]:
import nltk
from nltk.stem.porter import *
from nltk.tokenize import word_tokenize
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\divas\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

# removing morphological affixes from words, leaving only the word stem

In [22]:
ps=PorterStemmer()
def stem(text):
    L=[]
    for i in text.split():
        L.append(ps.stem(i))
    return " ".join(L)

In [23]:
ps.stem('thinking')

'think'

In [24]:
anime['genre']=anime['genre'].apply(stem)

In [25]:
anime

,anime_id,name,genre
0,32281,Kimi no Na wa.,drama romanc school supernatur
1,5114,Fullmetal Alchemist: Brotherhood,action adventur drama fantasi magic militari s...
2,28977,Gintama°,action comedi histor parodi samurai sci-fi sho...
3,9253,Steins;Gate,sci-fi thriller
4,9969,Gintama&#039;,action comedi histor parodi samurai sci-fi sho...
...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,hentai
12290,5543,Under World,hentai
12291,5621,Violence Gekiga David no Hoshi,hentai
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,hentai
12293,26081,Yasuji no Pornorama: Yacchimae!!,hentai

# count vectorizing the genre col

In [26]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer(stop_words='english',max_features=500)

In [27]:
v=vect.fit_transform(anime['genre']).toarray()

In [28]:
len(v[1])

46

# comparing the movies using cosine_similarity

In [29]:
from sklearn.metrics.pairwise import cosine_similarity
similar=cosine_similarity(v)

In [30]:
def recom(animes):
    
    if  animes in anime['name'].values:
        anime_ind=anime[anime['name']==animes].index[0]
        dist=similar[anime_ind]
        anime_list=sorted(list(enumerate(dist)),reverse=True,key=lambda x:x[1])[1:6]
        for i in anime_list:
            print(anime.iloc[i[0]]['name'])
    else:
        print("Anime Not found")

In [31]:
recom("Gintama")

Gintama&#039;
Gintama Movie: Kanketsu-hen - Yorozuya yo Eien Nare
Gintama&#039;: Enchousen
Gintama
Gintama: Yorinuki Gintama-san on Theater 2D

In [32]:
recom("Kimi no Na wa.")

Wind: A Breath of Heart OVA
Wind: A Breath of Heart (TV)
Aura: Maryuuin Kouga Saigo no Tatakai
Kokoro ga Sakebitagatterunda.
Clannad: After Story - Mou Hitotsu no Sekai, Kyou-hen

In [33]:
recom("Your Name")

Anime Not found

In [34]:
anime.iloc[1223]

anime_id                          2424
name        Cardcaptor Sakura Specials
genre                           comedi
Name: 1223, dtype: object

In [35]:
recom("Cardcaptor Sakura Specials")

Full Metal Panic! The Second Raid: Wari to Hima na Sentaichou no Ichinichi
Cardcaptor Sakura Specials
Katekyo Hitman Reborn!: Mr. Rebokku no Ciao Ciao Interview
Keroro Gunsou Movie 4: Gekishin Dragon Warriors de Arimasu!
Masuda Kousuke Gekijou Gag Manga Biyori 2

In [36]:
import pickle

In [37]:
pickle.dump(anime,open("anime.pkl","wb"))

In [41]:
anime.head()

,anime_id,name,genre
0,32281,Kimi no Na wa.,drama romanc school supernatur
1,5114,Fullmetal Alchemist: Brotherhood,action adventur drama fantasi magic militari s...
2,28977,Gintama°,action comedi histor parodi samurai sci-fi sho...
3,9253,Steins;Gate,sci-fi thriller
4,9969,Gintama&#039;,action comedi histor parodi samurai sci-fi sho...

In [40]:
pickle.dump(similar,open("similar.pkl","wb"))